div.header {
  width: 100%;
  height: 30px;
  background-color: #333;
  position: absolute;
  z-index: 100;
}

.iotic-logo {
  height: 30px;
  width: auto;
}

.main-content {
  padding-top: 50px;
}

#show-3d {
  display: none;
}

#threed {
  z-index: 200;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display:none;
}

body.touch #threed {
  /*-webkit-transform: scale(0.25);*/
  /*-webkit-transform-origin: 0 0;*/
}

.close-threed {
  position: fixed;
  top: 20px;
  right: 30px;
  /*width: 64px;*/
  /*height: 64px;*/
  font-weight: bold;
  z-index: 700;
  display: none;
  /*font-size: 34px;*/
  outline: none;
}

tr {
  transition: background-color 0.4s;
}

tr.hole-row {
  display: none;
}

tr.stripe {
  background-color:#f9f9f9;
}

thead th {
  text-align: right;
}

th {
  white-space: nowrap;
}

canvas#flute-canvas {
  /*background-color: red;*/
  width: 100%;
  height: 80px;
}

.form-control {
  min-width: 80px;
  /*max-width: 103px;*/
  float: right;
  background-color: #fcf8e3;
  -webkit-appearance: none;
}

input.form-control {
  /*-webkit-appearance: none;*/
}

.table-responsive.noscroll {
  border: none;
}

.table-responsive.noscroll table {
  margin-top: -6px;
}

table#holes-table .form-control {
  text-align: right;
  width: 50%;
}

.form-control[readonly] {
  border: 0;
  background: inherit;
  box-shadow: none;
  cursor: default;
  max-width: 80px;
  padding-right: 0;
  padding-left: 0;
}

.form-control.distance {
  font-weight: bold;
}

td.spacing .form-control {
  position: relative;
  top: 25px;
  left: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center !important;
}

input#title {
  width: 100% !important;
  text-align: left !important;
  border: none;
  background-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  height: auto;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  text-decoration: underline;
}

input#title:focus {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  border: #0ca7e1 1px solid;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(12, 167, 225,.2);
  background-color: #fcf8e3;
  text-decoration: none;
  cursor: text;
  color: rgb(85, 85, 85);
}

.form-control:focus {
  border-color: #0ca7e1;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(12, 167, 225,.2);
}

th.freq, td.freq, th.spacing, td.spacing {
  display: none;
}

th.freq, td.freq {
  width: 80px;
  max-width: 80px;
}

td.freq .form-control {
  /*width: 100% !important;*/
  /*max-width: 100% !important;*/
}

.form-horizontal .control-label {
  text-align: left;
  padding-left: 23px;
}

.checkbox {
  padding-left: 8px;
  display: inline-block;
}

.num-holes {
  display: none;
  float: right;
}

a.ident {
  color:#333;
  text-decoration: none;
}

a.inactive {
  display: none;
}

h1 {
  white-space: nowrap;
}

h1 i {
  font-size: 17px;
  margin-left: 4px;
}

h1 sup a {
  color: #e13e0c;
  transition: color 0.5s ease;
}

h1 sup a:hover,h1 sup a:focus {
  color: #c33206;
  text-shadow: 0px 0px 2px 0px #c33206;
}

h1 a:focus {
  outline: none;
}

.btn-primary {
  background-color: #e13e0c;
  border-color: #c33206;
}

.btn-primary:hover {
  background-color: #c33206;
  border-color: #c33206;
}

.calc-error {
  color: #f00;
}

a#genDiams {
  display: none;
}

.num-holes {
  margin-top: 10px;
  display: block;
  float: none;
  clear: both;
}


@media only screen and (max-width : 767px) {
  .main-content {
    padding-top: 40px;
  }

  thead>tr>th {
    /* Something you can count on */
    height: 80px;
    white-space: nowrap;
    position: relative;
    max-width: 80px;
    width: 80px;
  }
  thead>tr>th > div {
    position: absolute;
    bottom: 12px;
    right: 23px;
    transform: rotate(315deg);
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(270deg);
    width: 30px;
  }
  thead>tr>th > div > span {
    padding: 0;
  }
  .form-control {
    font-size: 90%;
    min-width: 65px;
  }
  .form-control.distance {
    min-width: 55px;
    max-width: 55px;
  }
  input#title {
    font-size: 14px;
  }
}
